# Копируй в .env и подставь свои значения. В репо не коммить .env.
# На Vercel те же ключи задавай в Settings → Environment Variables.

NEXT_PUBLIC_API_URL=https://github.com/viss1913/denginaB2C
NEXT_PUBLIC_PROJECT_KEY=pk_9cfe10dcec21667bd5c557ea
