@media print {
  @page {
    size: 595px 842px;
    margin: 0;
  }
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  max-block-size: 10000000000px;
  background-color: darkslategrey;
  display: flex;
  flex-flow: column;
  align-items: center;
}


.main_button {
  appearance: none;
  inline-size: calc((1vw + 1vh) *8);
  block-size: calc((1vw + 1vh) *1.5);

  background-color: #FFC759;
  color: white;
  border-color: #FFC759;

  position: fixed;
  right: 10%;
  top: 45vh;
  cursor: pointer;
}

.page_content__table {
  display: block;

  inline-size: 535px;

  margin-block-end: 40px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-start: 15px;
  padding-block-end: 12px;

  border-radius: 6px;
  border-collapse: collapse;

  position: relative;

  background: #fff;
  filter: drop-shadow(0px -2px 24px rgba(0, 0, 0, 0.07));

  @include tablets-sm {
    inline-size: 100%;

    margin-block-end: 0;
    padding-inline-start: 10px;
    padding-inline-end: 10px;

    overflow-x: auto;
  }
}

.page_content__table thead {
  inline-size: 495px;

  border-block-end: 1px solid #797780;

  @include tablets-sm {
    inline-size: 100%;
  }

  & tr {
    & td {
      padding-inline-start: 10px;
      padding-inline-end: 0;
      padding-block-start: 0;
      padding-block-end: 10px;

      font-weight: 500;
      color: #000;
      text-align: center;
      font-size: 10px;
      line-height: 10px; /* 200% */
      white-space: break-spaces;

      @include tablets-sm {
        font-size: 8px;
      }
    }

    & td:nth-child(1) {
      inline-size: 33px;
      padding-inline-start: 7px;

      @include tablets-sm {
        inline-size: auto;
      }
    }

    & td:nth-child(2) {
      inline-size: 187px;
      padding-inline-start: 48px;

      @include tablets-sm {
        inline-size: auto;
        padding-inline-start: 18px;
      }
    }

    & td:nth-child(3) {
      inline-size: 97px;
      padding-inline-start: 39px;

      @include tablets-sm {
        inline-size: auto;
        padding-inline-start: 18px;
      }
    }

    & td:nth-child(4) {
      inline-size: 150px;
      padding-inline-start: 58px;

      @include tablets-sm {
        inline-size: auto;
        padding-inline-start: 18px;
      }
    }
  }
}

.page_content__table tbody {

  & tr {
    block-size: 21px;

    & td {

      color: #000;
      text-align: center;
      font-size: 8px;
      line-height: 14px; /* 200% */

      position: relative;
    }

    & td:nth-child(1) {
      height: 21px;

      text-align: left;
      padding-inline-start: 10px;

      &:before {
        content: '';

        min-width: 6px;
        min-height: 6px;

        margin-inline-end: 6px;

        position: relative;
      }
    }
  }

  & td:nth-child(1) {
    display: flex;
    align-items: center;

    inline-size: 33px;
    padding-inline-start: 7px;

    @include tablets-sm {
      inline-size: auto;
    }
  }

  & td:nth-child(2) {
    inline-size: 190px;
    padding-inline-start: 37px;

    @include tablets-sm {
      inline-size: auto;
      padding-inline-start: 18px;
    }
  }

  & td:nth-child(3) {
    inline-size: 97px;
    padding-inline-start: 39px;

    @include tablets-sm {
      inline-size: auto;
      padding-inline-start: 18px;
    }
  }

  & td:nth-child(4) {
    inline-size: 150px;
    padding-inline-start: 58px;

    @include tablets-sm {
      inline-size: auto;
      padding-inline-start: 18px;
    }
  }

  & tr:nth-child(1) {
    & td:nth-child(1) {
      &:before {
        background: #FFC759;
      }
    }
  }
  & tr:nth-child(2) {
    & td:nth-child(1) {
      &:before {
        background: #667DB5;
      }
    }
  }
  & tr:nth-child(3) {
    & td:nth-child(1) {
      &:before {
        background: #FFC759;
      }
    }
  }
  & tr:nth-child(4) {
    & td:nth-child(1) {
      &:before {
        background: #F37058;
      }
    }
  }
  & tr:nth-child(5) {
    & td:nth-child(1) {
      &:before {
        background: #EEC960;
      }
    }
  }
  & tr:nth-child(6) {
    & td:nth-child(1) {
      &:before {
        background: #CCE192;
      }
    }
  }
  & tr:nth-child(7) {
    & td:nth-child(1) {
      &:before {
        background: #78B497;
      }
    }
  }
  & tr:nth-child(8) {
    & td:nth-child(1) {
      &:before {
        background: #58595B;
      }
    }
  }
}
