.methodSPension_p {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
  white-space: break-spaces;
}

.methodSPension_color {
  display: inline-block;

  font-size: 14px;
  font-weight: 700;
}
