.taxGoal_title {
  display: inline-block;

  margin-block-start: 30px;

  font-size: 14px;
  font-weight: 500;
}

.taxGoal_text {
  margin-block-start: 18px;

  color: black;
  font-size: 12px;
}

.taxGoal_img {
  object-fit: cover;

  &,
  &_wrapper {
    border-radius: 6px;
  }

  &_wrapper {
    display: flex;

    margin-block-start: 30px;

    width: 100%;
    height: 300px;
  }
}
