.disclaimer_title {
  display: inline-block;

  margin-block-start: 30px;

  font-size: 14px;
  font-weight: 500;
}

.disclaimer_text {
  margin-block-start: 10px;

  color: black;
  font-size: 12px;
}
